<!DOCTYPE html>
<html lang="fa" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
    />
    <title>Buy Page</title>
    <style>
      html,
      body {
        height: 100%;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
      .card {
        padding: 50px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body class="d-flex align-items-center justify-content-center">
    <div class="card shadow">
      <div class="card-body">
          <h3 class="text-success">Successful Pay!</h3>          
      </div>
    </div>
  </body>
</html>
